// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;

$text-color: #2c2d3f;
$accent-color: #988C97;
$primary-color: #4B4E67;
$secondary-color: #ba937cd7;

$accent-color-alt: #988C97;
$primary-color-alt: #4B4E67;
$secondary-color-alt: #ba937cd7;

