<div class="container">
<h1>Dashboard</h1>
<%= link_to "Sass Components", sass_home_path %>
<%= link_to "Create New Event", new_event_path %>

<h1>All events</h1>

<div class="dflex">
  <div class="container">
    <% @events.each do |event| %>
      <p><%= link_to event.name, event_path(event) %></p>
    <% end %>
  </div>
</div>
</div>
