.btn{
  font-family: $font-family-sans-serif;
  padding: 10px 15px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: $border-radius;
  color: white;
  cursor: pointer;
}

.btn-action {
  background-color: $accent-color;
  &:hover {
    background-color: $accent-color-hover;
  }
}

.btn-primary{
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color-hover;
    }
  }

.btn-secondary{
  background-color: $secondary-color;
  &:hover {
    background-color: $secondary-color-hover;
  }
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
