.btn{
  font-family: $font-family-sans-serif;
  padding: 10px 15px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: $border-radius;
  color: $text-color;
  cursor: pointer;
}

.btn:hover{

}
.btn-action {
  background-color: $accent-color;
}

.btn-primary{
  background-color: $primary-color;
}

.btn-secondary{
  background-color: $secondary-color;
}

.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
