.barchart {
  border: 2px solid #BA937C;
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: center;

}

.pie-chart {
$red: #D59E9E;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #ABCB98;
$gray: #CCCCCC;
$white: white;
$purple: #C6A4D7;
}
