.barchart {
  margin-top: 70px;
  margin-bottom: 15px;
  width: 100%;
  align-items: center;


}

.pie-chart {
  display: flex;
  margin-top: 70px;
  margin-bottom: 15px;
  width: 100%;
  align-items: left;
}
