.application-container {
  padding-top: 130px;
}

.container-standard {
  margin-left: 155px;
  margin-right: 155px;
}

.user-container {
  width: 100%;
  .user-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    gap: 8px;
  }
}
