.application-container {
  padding-top: 130px;
}

.container-standard {
  margin-left: 155px;
  margin-right: 155px;
  margin-bottom: 50px;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
  }

.event-dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.collabs {
  width: 100%;
  margin-bottom: 30px;
}

.calendar-notes {
  display: flex;
  flex-direction: column;

}
