i{
  font-size: 35px;
  color: $secondary-color;
  cursor: pointer;
  transition: .2s ease;
  margin-left: 2px;
  margin-right: 2px;
  text-align: end;
}

i:hover{
  color: $primary-color;
}

.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
