.input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  background-color: $light-green;
}

.input::placeholder{
  color: $primary-color;
  padding: 10px;
  font-size: 14px;
}

.input:focus{
  border: 1px solid $secondary-color;
  outline: none;
}

.input-container{
  width: 500px;
  margin: auto auto;
  border: $border;
  padding: $container-padding;
  border-radius: $border-radius;
}

.flex-inputs {
  display: flex;
  gap: 20px;
}

.image-input{
  font-size: 22px;
  opacity: .5;
  transition: .2s ease;
  cursor:pointer;
}

.image-input:hover{
  opacity: 1;
}

.search-bar{
  width: 100%;
  padding: 2px 2px;
  border: 1px solid rgba(152,140,151,0.8);
  border-radius: 5px;
  background-color: white;
}

select{
  border: none;
  outline: none;
  background-color: grey;
  width: 100%;
  padding-left: 5px;
  cursor: pointer;
  color: white;
}

.add-container{
  display: flex;
  width: 100%;
}
input.add{
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  background-color: grey;
  width: 60px;
  text-align: center;
  cursor: pointer;
  color: white;
}
