
nav{
  padding-bottom: 80px;
}
.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: #64c0ae 2px solid;
  position: fixed;
  height: 70px;
  // a.logo{
  //   font-size: 25px;
  //   letter-spacing: 2px;
  //   font-weight: 600;
  //   color: #000000;
  //   padding: 0;
  //   margin: 0;
  //   text-decoration: none;
  // }
}
