

.pie-chart-expense{
  display: flex;
  margin-top: 70px;
  margin-bottom: 15px;
  width: 35%;
  align-items: center;
}


#status-unpaid-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  p {
    // opacity: 0.6;
    color: black;
    background: rgba(213, 158, 158, 0.6);
    text-align: center;
    max-width: fit-content;
    padding: 4px 25px ;
    border-radius: 10px;
    margin-bottom: 0;
  }

}

#status-paid-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  p {
    // opacity: 0.6;
    color: black;
    background: rgba(171, 203, 152, 0.6);
    text-align: center;
    max-width: fit-content;
    padding: 4px 25px ;
    border-radius: 10px;
    margin-bottom: 0;
  }

}
