table,th {
  border: 2px solid #BA937C;
  padding: 10px;

}

tr:nth-child(even) {
  background-color: $light-gray;
}

table, td {
  border: 2px dotted #CCCCCC;
  padding: 10px;

}

.text-table-std, th {
  text-align: left;

}

.text-table-std, td {
  text-align: left;

}

.text-table-status, th {
  text-align: center;

}

.text-table-status, td {
  text-align: center;
}
