table.table {
  width: 100%;
  // margin: 4px;
  padding: 8px;
  background-color: white;
}

.table, th {
  border: 2px solid $secondary-color !important;
  padding: 10px;
}

.table, td {
  padding: 10px;
  border: none;
}

.text-table-std, th {
  text-align: left;
}

.text-table-std, td {
  text-align: left;
  border: none;
}

.text-table-status, th {
  text-align: center;
}

.text-table-status, td {
  text-align: center;
  border: none;
}


tr:nth-child(even) {
  background-color: $light-green;
  border: none;
}

.alt-bg:nth-child(even) {
  background-color: $light-green;
  border: none;
}

.table {
  .scroll {
  overflow-y:auto;
  overflow-x: hidden;
  }
}
