table, th, {
border: 2px solid cornflowerblue;
padding: 10px;

}

table, td, {
  border: 2px dotted rgb(211, 170, 218);
  padding: 10px;

  }

.text-table-std, th, {
  text-align: left;

}

.text-table-std, td, {
  text-align: left;

}

.text-table-status, th, {
  text-align: center;

}

.text-table-status, td, {
  text-align: center;

}
